<nav>
  <span class="brand">
    Teleogram
    <% if ENV['ORGANIZATION_NAME'] %>
      <small><%= ENV['ORGANIZATION_NAME'] %></small>
    <% end %>
  </span>

  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">Menu</label>
  
  <div class="menu">
    <%= link_to 'Compose', new_announcement_path, class: 'pseudo button' %>
    <%= link_to 'History', announcements_path, class: 'pseudo button' %>
    <a href="/" class="pseudo button">Blocks</a>
    <a href="/" class="pseudo button">Settings</a>
    <a href="/" class="pseudo button">Help</a>
    <a href="https://github.com/jackwillis/teleogram" class="pseudo button">Code</a>
  </div>
</nav>